<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevSpot</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DevSpot.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
            var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
            var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
            var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
        }
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="JobPostings" asp-action="Index"><i class="bi bi-briefcase"></i> DevSpot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link
                               @((currentController == "JobPostings" && currentAction=="Index")? "active" : "")"
                               asp-area="" asp-controller="JobPostings"
                               asp-action="Index"><i class="bi bi-card-list"></i> All Jobs</a>
                        </li>
                        @if (User != null && (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employer)))
                        {
                            <li class="nav-item">
                                <a class="nav-link
                                   @((currentController == "JobPostings" && currentAction=="CreateJobPost")? "active" : "")"
                                   asp-area=""
                                   asp-controller="JobPostings"
                                   asp-action="CreateJobPost"><i class="bi bi-plus-circle"></i> Add Job</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link 
                                       @((currentController == "Identity" && currentAction=="Logout")? "active" : "")"
                                       asp-area="Identity" asp-page="/Account/Logout"><i class="bi bi-box-arrow-left"></i> Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link
                                   @((currentArea == "Identity" && currentPage=="/Account/Register")? "active" : "")"
                                       asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-add"></i> Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link
                                       @((currentArea == "Identity" && currentPage=="/Account/Login")? "active" : "")"
                                       asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-left"></i> Login </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-primary text-white">
        <div class="container">
            &copy; 2025 - DevSpot
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
