@model IEnumerable<JobPosting>



@if (Model == null || Model.Count() == 0)
{
    <div class="row mt-4 mb-2">
        <div class="col text-center"><p class="fw-bolder">No jobs available at the moment</p></div>
    </div>
}
else
{
    <div class="row mt-4 mb-2">
        <div class="col text-center fw-bolder"><h2>Available Jobs</h2></div>
    </div>

    <div class="container">
        <div class="list-group">
            @foreach (var jobPost in Model)
            {
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">@jobPost.Title</h3>
                        <small>@HelperFunctions.TimeAgo(jobPost.DatePosted)</small>
                    </div>
                    <p class="mb-1"><strong>Location:</strong>  @jobPost.Location</p>
                    <p class="mb-1"><strong>Company:</strong>  @jobPost.Company</p>
                    <p class="mb-1">@jobPost.Description</p>

                    @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employer))
                    {
                        <div>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"
                                    onclick="showDynamicModal('/Shared/ConfirmDelete/@jobPost.Id')">
                                Delete Item
                            </button>
                        </div>
                    }
                </div>
            }


            <button class="btn btn-info" onclick="showDynamicModal('/Shared/ShowInfoModal')">Show Info</button>
            <button class="btn btn-success" onclick="showDynamicModal('/Shared/ShowSuccessModal')">Show Success</button>
            <button class="btn btn-warning" onclick="showDynamicModal('/Shared/ShowWarningModal')">Show Warning</button>

        </div>
    </div>
}
<!-- Placeholder for modal -->
<div id="modalPlaceholder"></div>

@section Scripts {
    <script>
        function showDynamicModal(url) {
            $.get(url, function(data) {
                // Remove any existing modal
                $('#dynamicModal').remove();

                // Append new modal to placeholder
                $('#modalPlaceholder').html(data);

                // Show modal
                $('#dynamicModal').modal('show');
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            let items = document.querySelectorAll(".list-group-item");

            items.forEach(item => {
                item.addEventListener("click", function () {
                    items.forEach(i => i.classList.remove("active"));
                    this.classList.add("active");
                });
            });
        });
    </script>
}
