@model List<JobPosting>

<div class="row mt-4 mb-2">
    <div class="col text-start"><h2>List of available Job Posts</h2></div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h4>No Job posts available at the moment.</h4>
}
else
{
    <div class="container">
        <div class="list-group">
            @foreach (var jobPost in Model)
            {
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@jobPost.Title</h5>
                        <small>@HelperFunctions.TimeAgo(jobPost.DatePosted)</small>
                    </div>
                    <p class="mb-1"><strong>Location:</strong>  @jobPost.Location</p>
                    <p class="mb-1"><strong>Company:</strong>  @jobPost.Company</p>
                    <p class="mb-1">@jobPost.Description</p>
                </a>
            }
        </div>
    </div>

}

