@model IEnumerable<JobPosting>



@if (Model == null || Model.Count() == 0)
{
    <div class="row mt-4 mb-2">
        <div class="col text-center"><p class="fw-bolder">No jobs available at the moment</p></div>
    </div>
}
else
{
    <div class="row mt-4 mb-2">
        <div class="col text-center fw-bolder"><h2>Available Jobs</h2></div>
    </div>

    <div class="container">
        <div class="list-group">
            @foreach (var jobPost in Model)
            {
                var offcanvasId = "jobPostingOffcanvas_" + Guid.NewGuid().ToString("N"); // Unique ID for each offcanvas

                <div id="job-post-@jobPost.Id"
                     class="list-group-item list-group-item-action"
                     aria-current="true"
                     data-bs-toggle="offcanvas"
                     data-bs-target="#@offcanvasId">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">@jobPost.Title</h3>
                        <small>@HelperFunctions.TimeAgo(jobPost.DatePosted)</small>
                    </div>
                    <p class="mb-1"><strong>Location:</strong>  @jobPost.Location</p>
                    <p class="mb-1"><strong>Company:</strong>  @jobPost.Company</p>
                    <p class="mb-1 text-truncate description">@jobPost.Description</p>
                </div>

                <!-- Include the offcanvas partial -->
                @await Html.PartialAsync("_JobPostingOffcanvas", jobPost, new ViewDataDictionary(ViewData) { { "OffcanvasId", offcanvasId } })
            }
        </div>
    </div>
}
<!-- Placeholder for modal -->
<div id="modalPlaceholder"></div>

@section Scripts {
    <script>
        function showDynamicModal(url) {
            $.get(url, function(data) {
                // Remove any existing modal
                $('#dynamicModal').remove();

                // Append new modal to placeholder
                $('#modalPlaceholder').html(data);

                // Set the controller name dynamically in a hidden field
                $('#dynamicModal').find('#deleteControllerName').val("JobPostings");


                // Show modal
                $('#dynamicModal').modal('show');
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            let items = document.querySelectorAll(".list-group-item");

            items.forEach(item => {
                item.addEventListener("click", function () {
                    items.forEach(i => i.classList.remove("active"));
                    this.classList.add("active");
                });
            });
        });
    </script>
}
